/*
COMPLEMENTARY FILE, should be imported into another .css file
Thanks to @Larry1123 for showing me the counter function, counter-reset and counter-increment CSS rules.
*/

#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems { counter-reset: browser-item-counter; }
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems > *[class$="-item"] figure { left: .2em; }
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems > *[class$="-item"] { border-left: 1em solid rgba(255,255,255,0.07); padding-left: 0; }
#browser .browser-content .browser-content-main .nano .content-videos #results_video_api .browserPlaylistItems  > *[class$="-item"]::before {
    counter-increment: browser-item-counter;
    content: counter(browser-item-counter);
    color: gold;
    font-size: .5rem;
    position: absolute;
    top: 50%;
    left: -1rem;
    transform: translateY(-50%);
    width: 1rem;
    text-align: center;
    line-height: 1;
}