/* COMPLEMENTARY FILE, should be imported into another .css file */

@media screen and (min-width: 72em) { /* If not "phone mode" */
    /* Main function */
    #main-room .left_section { padding: 0; margin-top: 0; }
    #main-room .left_section  .main-player-wrapper { display: initial; }
    #main_player { width: 100%; max-width: 35.6%; min-width: 450px; float: left; }

    /* Buttons fix */
    #main-room .left_section #main_player .play-song-link-container { bottom: -3rem; }
    #main-room .left_section #main_player .play-song-link-container > div { border-radius: .5rem; }
    #main-room .left_section #main_player .play-song-link-container > div { width: auto; font-size: .8rem; padding: .75rem 1.5rem; }
    #main-room .left_section #main_player { padding-bottom: .5rem; }
    #main-room .left_section #main_player .player_sharing span { font-size: 1.25rem; }
    #main_player .player_header {
        width: 73px;
        top: 8px !important;
        height: 81.25%;
        left: initial;
        right: -73px;
    }
    #main_player .player_header span {
        float: left;
        margin: .125rem 0;
        position: relative;
        padding: .5rem .5rem .5rem 0;
        width: 73px;
        border-radius: 0 1rem 1rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #main_player .player_header span.edit-room { padding: 1px 0 0 4px; float: right; width: initial; }
    #main_player .player_header span.edit-room i { position: initial; }
    #main_player .player_header span.skip-el { position: absolute; bottom: 0; right: initial; float: left; }
}
