/* Main file (NB3 room) */

/* Imports */
@import url("https://rawgit.com/Netox005/Dubtrack/master/css/voteicons.css"); /* NB3 Vote Icons */
@import url("https://rawgit.com/Netox005/Dubtrack/master/css/chatright.css"); /* Chat completly to the right */
@import url("https://rawgit.com/Netox005/Dubtrack/master/css/videosmall.css"); /* Small video */
@import url("https://rawgit.com/Netox005/Dubtrack/master/css/skynet.css"); /* @netuxbot custom chat */
@import url("https://rawgit.com/Netox005/Dubtrack/master/css/phonefix.css"); /* Phone Fixes */

/* Video next to chat */
@media screen and (min-width: 72em) {
    #main-room .left_section { left: initial; right: 450px; }
    #main-room .left_section #main_player { border-radius: 0; border-bottom-left-radius: 1rem; }
}

/* Chat formatting */
#chat .chat-container .chat-messages .chat-main li.chat-welcome-message { color: white !important; }
#chat .chat-container .chat-messages .chat-main li.system-error { text-transform: uppercase; }
#chat .chat-main .system, #chat .chat-main .chat-system-loading { text-align: center; color: #0090CC !important; }

/* Room size fix */
@media screen and (min-width: 72em) { #main-room .main-room-wrapper { min-height: 0; margin-bottom: 0; } }

/* User banned fix */
#chat .pusher-chat-widget-input p { text-align: center; font-weight: bold; color: #AB0000; }
#chat .pusher-chat-widget-input p::after { content: " (You can't send messages)" }

/* Add to playlist fixes */
#addToPlaylistFloatContainer .create-playlist-header .icon-close { position: absolute; top: 15px; right: 15px; }
#addToPlaylistFloatContainer .create-playlist-header .icon-close:hover { color: cyan; }

/* Browser fixes */
#browser.animate { bottom: 56px; padding-top: 114px; }
#browser .browser-content { border-radius: 0; }
span.close-browser { font-size: 1.125rem !important; padding-top: 1.2rem !important; }
span.close-browser:before { content: "\e903"; }

#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown span { line-height: .8; }
#browser .browser-content .browser-content-header .form .music-type-select .music-type-dropdown span:hover { background: #6D6D6D;  }
#browser .browser-content .browser-content-header .form .music-type-select .icon-youtube { color: red; }
#browser .browser-content .browser-content-header .form .music-type-select .icon-soundcloud { color: orange; }

/* Sorry @matt, it doesn't fit my theme u_u */
#player-controller, #player-controller > div.right, #header-global {
    border-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

/* Chat avatars fix */
#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row { border-radius: 10%; }
#chat .chat-container .chat-messages .chat-main li .stream-item-content .image_row > img { max-width: none; max-height: 100% }

/* Twitch Emotes (DubX) fixes */
img.emoji.twitch-emoji[alt="fishmoley"] { min-width: 2.5rem; } /* fishmoley */
img.emoji.twitch-emoji[alt="yetiz"] { min-width: 3rem; } /* :yetiz: */
img.emoji.twitch-emoji[alt="lenny"] { min-width: 3.5rem; } /* :lenny: */
img.emoji.twitch-emoji[alt="firespeed"] { min-width: 4rem; } /* firespeed */
img.emoji.twitch-emoji[alt="shrug"] { min-width: 5rem; } /* :shrug: */
img.emoji.twitch-emoji[alt="angelthump"], img.emoji.twitch-emoji[alt="taxibro"] { min-width: 4.5rem; } /* :angelthump:, :taxibro: */

/* Other fixes */
.medium { top: 57.6px !important; } /* Background Fix */
.ps-container .ps-scrollbar-x, .ps-container .ps-scrollbar-y, .ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y { background-color: #B1B1B1 } /* Scrollbars more visible */
#profileMainSection { top: 58px; min-height: calc(100vh - 114px); max-height: calc(100vh - 114px); overflow-y: auto; } /* User profile scrollbar fix (wish I could use perfect-scrollbar with CSS) */
#main-menu-left { top: 58px; height: calc(100% - 58px); padding-top: 3rem; } /* Left menu height fix */
#chat .chat-container .chat-messages .chat-main li:not([class^="user-"]) { padding-bottom: .5rem; min-height: initial; } /* No user messages height fix */
#chat .chat-container .chat-messages .chat-main li .activity-row .text img { display: block; } /* Chat images in new bar */
#chat .chat-options .chat-option-buttons span { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } /* No selection on chat options buttons */
@media screen and (min-width: 72em) {
    /* Hidden video icon */
    #room-main-player-container::before {
        visibility: visible;
        cursor: default;
        font-family: icomoon;
        content: "\e90a";
        position: absolute;
        top: calc(50% - 80px);
        left: calc(50% - 80px);
        line-height: 1;
        color: rgba(128, 128, 128, .33);
        font-size: 10rem;
    }
}
#container-room-list .room-item.userRoom { border: 2px solid cadetblue; } /* User room with different color. */
time.timeago { /* Time ago on messages not selectable */
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Other fixes in phone mode */
@media screen and (max-width: 72em) {
    #browser .browser-content .browser-content-main .nano .loading { z-index: 1; } /* Loading not overlapping with buttons */
    #addToPlaylistFloatContainer { border-radius: 0; padding: .5rem 0; background: rgba(84, 86 , 85, .9); } /* Add to playlist fixes */
    #profileMainSection { top: 92px; max-height: calc(100vh - 203px); } /* Profile height fix */
}

/* Animations (yey) */
#main-room .left_section #main_player .player_sharing span.icon-reload {
    transition: transform .5s cubic-bezier(0, 0, .33, 1.5);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0, 0, .33, 1.5);
}
#main-room .left_section #main_player .player_sharing span.icon-reload:hover {
    transition: transform .5s cubic-bezier(0.42, 1.2, 1, 1);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.42, 1.2, 1, 1);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}