/* Main file (NB3 room) */

/* Imports */
@import url("https://nightbloo.github.io/dubtrack/dubtrack.css"); /* Transparent background chat + NB3 room staff chat colors */
@import url("https://rawgit.com/Netox005/Dubtrack/master/css/chatright.css"); /* Chat completly to the right */
@import url("https://rawgit.com/Netox005/Dubtrack/master/css/videosmall.css"); /* Small video */
@import url("https://rawgit.com/Netox005/Dubtrack/master/css/voteicons.css"); /* Vote icons (NB3 style) */

/* Video next to chat */
#main-room:not(.fullscreenParent) { float: right; }
#main-room:not(.fullscreenParent) .left_section {
  right: 400px;
  float: right;
}

/* Miscellaneous */
.userCustomB { top: 3em !important; } /* Background fix */
#chat .chat-container ul.chat-main li .image_row > img { border-radius: 2px !important; } /* Chat images as round squares */
#volume-div .ui-slider-range-min { height: 125%; background-color: #5A005A; } /* Volume bar slider range fix */
.ps-container .ps-scrollbar-x, .ps-container .ps-scrollbar-y, .ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y { background-color: #B1B1B1 } /* Chat scrollbar more visible */
#chat .chat-container ul.chat-main li.user-560b4a33d9057a0300cc2fa0.current-chat-user .activity-row .text p a.username, #chat .chat-container ul.chat-main li.user-560b4a33d9057a0300cc2fa0.current-chat-user .activity-row .text p a.username:hover, #chat .chat-container ul.chat-main li.user-560b4a33d9057a0300cc2fa0.current-chat-user .activity-row .text p a.username:visited { color: #FFCA00; } /* Netux -> orange */
