/* PlugDJ alike file (NB3 Room) */

@import url("https://cloudy-netux.rhcloud.com/dubtrack/css/main.css"); /* Import main.css, which is the closest to what I'm doing */

#player-controller {
  width: calc(100% - 450px);
  height: 10rem;
  background: transparent;
}
#player-controller .left {
  top: initial;
  bottom: 0;
  position: absolute;
  padding-right: 0;
}
#player-controller .right { right: calc(calc(512px - 335px) / 2); top: 3rem; }
#main-room .right_section { height: calc(100% + 3.5rem);}
#chat .pusher-chat-widget-input { background: #2f2f2f; }

#player-controller .right ul li:before {
  position: absolute;
  font-size: .8rem;
  top: -1.5rem;
  text-align: center; 
  padding: .2rem 0;
  color: white;
  background: #444444;
}
#player-controller .right li:nth-child(1):before { width: 69px; content: "Playlists"; border-top-left-radius: 10px; }
#player-controller .right li:nth-child(2):before { width: 77px; content: "Grab"; margin-left: -1px; }
#player-controller .right li:nth-child(3):before { width: 97px; content: "Updub"; margin-left: -1px; }
#player-controller .right li:nth-child(4):before { width: 97px; content: "Downdub"; margin-left: -1px; border-top-right-radius: 10px; }

#player-controller .right ul li:nth-child(1), #player-controller .right ul li:nth-child(1):before { border-right: 1px solid #797979; }
#player-controller .right ul li:not(:nth-child(1)):not(:nth-child(2)), #player-controller .right ul li:not(:nth-child(1)):before { border-left: 1px solid #797979; }
#player-controller .right ul li:before { border-bottom: 1px solid #797979;  }