/*
COMPLEMENTARY FILE, should be imported into another .css file

Contact Netux in case you want your BOT added to the list:
netuxbot: 561da9e034c45e0e0087b6d0
nb3bot (deprecated): 56216481426d191300e5bfef
nightbluebot: 56b2054200550001019554c8
dubtrack_bot: 565aa52e6fe207830052f57f
chilloutroomba: 56208ef772fbd14400119c64
*/

#chat .chat-main li.user-561da9e034c45e0e0087b6d0 .image_row,
#chat .chat-main li.user-56216481426d191300e5bfef .image_row,
#chat .chat-main li.user-56b2054200550001019554c8 .image_row,
#chat .chat-main li.user-565aa52e6fe207830052f57f .image_row,
#chat .chat-main li.user-56208ef772fbd14400119c64 .image_row {
    opacity: 0;
    top: 7px !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    z-index: 1;
}
#chat .chat-main li.user-561da9e034c45e0e0087b6d0 .activity-row,
#chat .chat-main li.user-56216481426d191300e5bfef .activity-row,
#chat .chat-main li.user-56b2054200550001019554c8 .activity-row,
#chat .chat-main li.user-565aa52e6fe207830052f57f .activity-row,
#chat .chat-main li.user-56208ef772fbd14400119c64 .activity-row {
    width: 100% !important;
    padding: .5em 0.75em .5em .25em !important;
}

#chat .chat-main li.user-561da9e034c45e0e0087b6d0 .activity-row .text .username,
#chat .chat-main li.user-56216481426d191300e5bfef .activity-row .text .username,
#chat .chat-main li.user-56b2054200550001019554c8 .activity-row .text .username,
#chat .chat-main li.user-565aa52e6fe207830052f57f .activity-row .text .username,
#chat .chat-main li.user-56208ef772fbd14400119c64 .activity-row .text .username {
    opacity: 0;
    position: absolute;
    top: 7px;
    padding-left: 1.5rem;
    width: 85%;
    font-size: .75rem !important;
}
#chat .chat-main li.user-561da9e034c45e0e0087b6d0 .activity-row .text p:first-of-type:before,
#chat .chat-main li.user-56216481426d191300e5bfef .activity-row .text p:first-of-type:before,
#chat .chat-main li.user-56b2054200550001019554c8 .activity-row .text p:first-of-type:before,
#chat .chat-main li.user-565aa52e6fe207830052f57f .activity-row .text p:first-of-type:before,
#chat .chat-main li.user-56208ef772fbd14400119c64 .activity-row .text p:first-of-type:before {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75em;
    cursor: pointer;
    text-align: initial;
    display: block;
}
#chat .chat-main li.user-561da9e034c45e0e0087b6d0:hover .activity-row .meta-info::before,
#chat .chat-main li.user-56216481426d191300e5bfef:hover .activity-row .meta-info::before,
#chat .chat-main li.user-56b2054200550001019554c8:hover .activity-row .meta-info::before,
#chat .chat-main li.user-565aa52e6fe207830052f57f:hover .activity-row .meta-info::before,
#chat .chat-main li.user-56208ef772fbd14400119c64:hover .activity-row .meta-info::before {
    position: absolute;
    color: #878c8e;
    font-weight: 700;
    font-size: 12px;
    bottom: .2rem;
}

#chat .chat-main li.user-561da9e034c45e0e0087b6d0:hover .activity-row .meta-info::before { content: "Lonely BOT without Room :("; }
#chat .chat-main li.user-56216481426d191300e5bfef:hover .activity-row .meta-info::before { content: "Nightblue3 Room BOT (deprecated)"; }
#chat .chat-main li.user-56b2054200550001019554c8:hover .activity-row .meta-info::before { content: "Nightblue3 Room BOT"; }
#chat .chat-main li.user-565aa52e6fe207830052f57f:hover .activity-row .meta-info::before { content: "Dubtrack Official BOT"; }
#chat .chat-main li.user-56208ef772fbd14400119c64:hover .activity-row .meta-info::before { content: "Chillout Music Room BOT"; }

#chat .chat-main li.user-561da9e034c45e0e0087b6d0 .activity-row .text p:first-of-type:before,
#chat .chat-main li.user-56216481426d191300e5bfef .activity-row .text p:first-of-type:before,
#chat .chat-main li.user-56b2054200550001019554c8 .activity-row .text p:first-of-type:before,
#chat .chat-main li.user-565aa52e6fe207830052f57f .activity-row .text p:first-of-type:before,
#chat .chat-main li.user-56208ef772fbd14400119c64 .activity-row .text p:first-of-type:before {
    background: no-repeat left top;
    background-size: contain;
    padding-left: 1.5rem;
}

ul.avatar-list li.user-netuxbot p.dubs:before,
ul.avatar-list li.user-nb3bot p.dubs:before,
ul.avatar-list li.user-nightbluebot p.dubs:before,
ul.avatar-list li.user-dubtrack_bot p.dubs:before,
ul.avatar-list li.user-chilloutroomba p.dubs:before {
    content: "known BOT - ";
    font-weight: bold;
    color: #8751B7 !important;
}

/* Fix for @matt christmas stylesheet */
#chat > div.chat-container > div.chat-messages.ps-container ul li.user-561da9e034c45e0e0087b6d0 div.stream-item-content::before,
#chat > div.chat-container > div.chat-messages.ps-container ul li.user-56216481426d191300e5bfef div.stream-item-content::before,
#chat > div.chat-container > div.chat-messages.ps-container ul li.user-56b2054200550001019554c8 div.stream-item-content::before,
#chat > div.chat-container > div.chat-messages.ps-container ul li.user-565aa52e6fe207830052f57f div.stream-item-content::before,
#chat > div.chat-container > div.chat-messages.ps-container ul li.user-56208ef772fbd14400119c64 div.stream-item-content::before {
    transform: scale(.4,.5);
    top: -8px;
    left: -11px;
}

/* netuxbot */
#chat .chat-main li.user-561da9e034c45e0e0087b6d0 .activity-row .text p:first-of-type:before {
    content: "netux bot";
    color: #c3ff00 !important;
    font-size: .75rem;
    padding-left: 0;
}
ul.avatar-list li.user-netuxbot p.username { color: #c3ff00 !important; }
ul.avatar-list li.user-netuxbot p.dubs:before {
    color: #c3ff00 !important;
    content: "known BOT & Cyborg - "
}

/* nb3bot (deprecated) */
#chat .chat-main li.user-56216481426d191300e5bfef .activity-row .text p:first-of-type:before {
    content: "nightblue bot";
    color: #7ec0ee !important;
    font-size: .75rem;
    background-image: url("http://i.imgur.com/tvPrbnV.png");
}
ul.avatar-list li.user-nb3bot p.username { color: #7ec0ee !important; }
ul.avatar-list li.user-nb3bot p.dubs:before { color: #7ec0ee !important; }

/* nightbluebot */
#chat .chat-main li.user-56b2054200550001019554c8 .activity-row .text p:first-of-type:before {
    content: "nightblue bot";
    color: #7ec0ee !important;
    font-size: .75rem;
    background-image: url("https://d3byct92ei5n7c.cloudfront.net/hhberclba/image/upload/c_fill,h_200,q_75,w_200/pkisglp94deagijlag51.png");
}
ul.avatar-list li.user-nightbluebot p.username { color: #7ec0ee !important; }
ul.avatar-list li.user-nightbluebot p.dubs:before {
    color: #7ec0ee !important;
    content: "known BOT - "
}

/* dubtrack_bot */
#chat .chat-main li.user-565aa52e6fe207830052f57f .activity-row .text p:first-of-type:before {
    content: "dubtrack bot";
    color: #ff0097 !important;
    font-size: .75rem;
    background-image: url("http://i.imgur.com/Q0wghn3.png");
}
ul.avatar-list li.user-dubtrack_bot p.username { color: #ff0097 !important; }
ul.avatar-list li.user-dubtrack_bot p.dubs:before { color: #ff0097 !important; }

/* chilloutroomba */
#chat .chat-main li.user-56208ef772fbd14400119c64 .activity-row .text p:first-of-type:before {
    content: "chillout roomba";
    color: #cc5a93;
    font-size: .75rem;
    background-image: url("https://i.imgur.com/eFwtMHk.gif");
}
ul.avatar-list li.user-chilloutroomba p.username { color: #cc5a93 !important; }
ul.avatar-list li.user-chilloutroomba p.dubs:before { color: #cc5a93 !important; }