/* COMPLEMENTARY FILE, should be imported into another .css file */

@media screen and (min-width: 72em) { /* If not "phone mode" */
    /* Main function */
    #main-room .left_section { padding: 0; max-width: 32rem; margin-top: 0; }
    #main-room .left_section  .main-player-wrapper { display: initial; }

    /* Buttons fix */
    #main-room .left_section #main_player .play-song-link {
        width: 10rem;
        font-size: .8rem;
        padding: .75rem 1.5rem;
        bottom: -3rem;
    }
    #main-room .left_section #main_player { padding-bottom: .5rem; }
    #main-room .left_section #main_player .play-song-link .queue-info { padding-top: .1rem; }
    #main-room .left_section #main_player .play-song-link i { position: relative; top: .125rem; }
    #main-room .left_section #main_player .player_sharing span { font-size: 1.25rem; }
    #main_player .player_header {
        width: 85px;
        top: 16px !important;
        height: 270px;
        left: -2rem;
    }
    #main_player .player_header:after {
        content: " ";
        position: absolute;
        width: 512px;
        height: 100%;
        left: 2rem;
        background: black;
    }
    #main_player .player_header span {
        float: left;
        margin: .125rem 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        left: -38px;
    }
    #main_player .player_header span.edit-room { padding: 1px 4px 0 4px; }
    #main_player .player_header span.edit-room i { position: initial; }
    #main_player .player_header span.displayVideo-el { padding-left: 1.15rem; }
    #main_player .player_header span.room-info-display { padding-left: 1.5rem; }
    #main_player .player_header span.display-mods-controls { padding-left: 1.5rem; }
    #main_player .player_header span.skip-el { right: initial; padding-left: 1.6rem; }
    #main_player .player_header span.edit-room { left: 0; }
}