@import url("https://rawgit.com/MegaBraydn/ElsaBot/master/dubtrack.css");
/* Netux */
#chat .chat-container ul.chat-main li.user-560b4a33d9057a0300cc2fa0 .activity-row .text p a.username, #chat .chat-container ul.chat-main li.user-560b4a33d9057a0300cc2fa0 .activity-row .text p a.username:hover, #chat .chat-container ul.chat-main li.user-560b4a33d9057a0300cc2fa0 .activity-row .text p a.username:visited {
  color: #FFCA00;
  font-weight: bold;
}
#main-room {
  margin-top: 3px;
}
#main-room .right_section {
  right: 0;
  margin-right: 0px !important;
}
