@import url("https://rawgit.com/Netox005/Test/master/dubtrack_css/main.css");

.isDefault .username { color: cyan !important; }
.isResident-dj .username { color: #7BB5FF !important; }
.isVip .username { color: #FF8800 !important; }
.isMod .username { color: #DF5E5E !important; }
.isManager .username { color: #D61B1B !important; }
.isCo-owner .username { color: #6A00DD !important; }
.isAdmin .username { color: #F0F000 !important; }
