/* Chat completly to the right */
#main-room { margin: 3px 0 0 0; }
#main-room .right_section {
  right: 0;
  margin-right: 0px !important;
  float: right !important;
  height: calc(100vh - 4.9em);
  width: 400px !important;
}
#chat .chat-tools .room-user-counter { padding-top: .75em !important; }
#chat .chat-container .chat-messages { height: inherit !important; }
#chat .chat-container, #chat { height: 100%; }
#chat .chat-container ul.chat-main li .activity-row { width: calc(20.5em - 40px); }
.fullscreenLeft { magin-top: 0 !important; } /* Fix video fullscreen issue (not really ;c) */

/* Miscellaneous */
.ps-container .ps-scrollbar-x, .ps-container .ps-scrollbar-y, .ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y { background-color: #B1B1B1 } /* Chat scrollbar more visible */
