/* Main file (NB3 room) */

/* Imports */
@import url("https://rawgit.com/Netox005/Test/master/dubtrack_css/chatclasses.css"); /* Chat colors & Chat labels */
@import url("https://rawgit.com/Netox005/Test/master/dubtrack_css/voteicons.css"); /* NB3 Vote Icons */

/* Miscellaneous */
.medium { top: 57.6px !important; } /* Background Fix */
#chat .chat-main .system { text-align: center; color: #0090CC; } /* Promote/demote and song skips in chat not so similar to user /me's */
#chat .chat-container .chat-messages .chat-main li.system-error { text-transform: uppercase; } /* Agresive errors in chat */
.ps-container .ps-scrollbar-x, .ps-container .ps-scrollbar-y, .ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y { background-color: #B1B1B1 } /* Scrollbars more visible */
