/* Imports */
@import url("https://netox005.github.io/Dubtrack/css/chatright.css"); /* Chat completely to the right */
@import url("https://netox005.github.io/Dubtrack/css/videosmall.css"); /* Player header to the left */
@import url("https://netox005.github.io/Dubtrack/css/animations.css"); /* Animations */
@import url("https://frosolf.github.io/mixercore.css"); /* Blue palet */
@import url("https://frosolf.github.io/betterchat.css"); /* Blue palet Chat fix */

/* Video position and size */
@media screen and (min-width: 72em) {
    #main-room .left_section { display: block; position: relative; padding-right: 255px !important; margin-left: 0 !important; }
    #main-room .left_section .main-player-wrapper { display: block; max-width: 50vw; margin: 0 auto; }
    #main_player { max-width: initial; min-width: initial; }
    #main_player { border-radius: 0 0 1rem 1rem; }
    #main_player .player_header { top: -2.5rem; }
    #main_player .play-song-link { display: none; }
}

/* Private messages fix */
#main-menu-left, #private-messages, .for_content { background-color: rgb(30, 41, 66) !important; }
#main-menu-right { background: none !important; }

/* Chat background fix */
#chat .chat-container .chat-messages .chat-main li { background-color: rgba(0,0,0,0) !important; }
#main-room #chat .chat-container .chat-messages { background-color: rgba(30,41,66,.80) !important }

/* Other fixes */
#player-controller .right ul li a { padding: 1rem 0; } /* Footer vote icons fix */
#private-messages .search-results:before { height: 3.5rem; } /* Private messages fix */

/* Requested by @tacotacotacotaco */