/* Beta of main file, for testing purposes and very unstable */

/* Imports */
@import url("https://netox005.github.io/Dubtrack/css/transparentchat.css"); /* Transparent Chat */
@import url("https://netox005.github.io/Dubtrack/css/chatright.css"); /* Chat completly to the right */
@import url("https://netox005.github.io/Dubtrack/css/videosmall.css"); /* Small video */
@import url("https://netox005.github.io/Dubtrack/css/voteicons.css"); /* Vote icons (NB3 style) */
@import url("https://netox005.github.io/Dubtrack/css/chatclasses.css"); /* Chat colors and icons (Dubtrack-Extras) */

/* Video next to chat */
#main-room:not(.fullscreenParent) { float: right; }
#main-room:not(.fullscreenParent) .left_section {
  right: 400px;
  float: right;
}

/* Miscellaneous */
.userCustomB { top: 3em !important; } /* Background fix */
#chat .chat-container ul.chat-main li .image_row > img { border-radius: 2px; } /* Chat images as round squares */
#volume-div .ui-slider-range-min { height: 125%; background-color: #5A005A; } /* Volume bar slider range fix */
.ps-container .ps-scrollbar-x, .ps-container .ps-scrollbar-y, .ps-container .ps-scrollbar-x-rail:hover .ps-scrollbar-x, .ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y { background-color: #B1B1B1 } /* Chat scrollbar more visible */
#browser.animate { bottom: 3em; } /* Browser fix */
